[submodule "modules/devops-agent/sample-skills-for-AWS-Devops-agent"]
	path = modules/devops-agent/sample-skills-for-AWS-Devops-agent
	url = git@github.com:aws-samples/sample-skills-for-AWS-Devops-agent.git
