devops_agent_aws_region = "ap-southeast-2"
devops_agent_space_name = "Singapore Space"
devops_agent_space_description = "DevOps Agent space for Singapore"

devops_agent_space_tags = {
  Environment = "production"
  Owner       = "Your name here"
  Team        = "Your team here"
}
